.flex-container{
    display:flex;
    justify-content:flex-end;
    height:100px;
    background-color: yellow;
}

.flex-container>div{
    background-color: blueviolet;
    width:100px;
    margin:10px;
    text-align:center;
    line-height: 75px;
    font-size:30px;
}
.flex-container2{
    display:flex;
    justify-content:flex-start;
    height:100px;
    background-color: yellow;
}
.flex-container2>div{
    background-color: blueviolet;
    width:100px;
    margin:10px;
    text-align:center;
    line-height:75px;
    font-size:30px;
}
.flex-container3{
    display:flex;
    justify-content:center;
    height:100px;
    background-color: yellow;
}
.flex-container3>div{
    background-color: blueviolet;
    width:100px;
    margin:10px;
    text-align:center;
    line-height:75px;
    font-size:30px;
}
.flex-container4{
    display:flex;
    justify-content:space-around;
    height:100px;
    background-color: yellow;
}
.flex-container4>div{
    background-color: blueviolet;
    width:100px;
    margin:10px;
    text-align:center;
    line-height:75px;
    font-size:30px;
}
.flex-container5{
    display:flex;
    justify-content:space-between;
    height:100px;
    background-color: yellow;
}
.flex-container5>div{
    background-color: blueviolet;
    width:100px;
    margin:10px;
    text-align:center;
    line-height:75px;
    font-size:30px;
}
.flex-container6{
    display:flex;
    justify-content:space-evenly;
    height:100px;
    background-color: yellow;
}
.flex-container6>div{
    background-color: blueviolet;
    width:100px;
    margin:10px;
    text-align:center;
    line-height:75px;
    font-size:30px;
}
.flex-container7{
    display:flex;
    flex-direction: column;
    height:300px;
    background-color: yellow;
}
.flex-container7>div{
    background-color: blueviolet;
    width: 100px;
    margin:10px;
    text-align:center;
    line-height:75px;
    font-size:30px;
}
.flex-container8{
    display:flex;
    flex-direction: column-reverse;
    height:300px;
    background-color: yellow;
}
.flex-container8>div{
    background-color: blueviolet;
    width: 100px;
    margin:10px;
    text-align:center;
    line-height:75px;
    font-size:30px;
}
.flex-container9{
    display:flex;
    flex-direction: row;
    height:300px;
    background-color: yellow;
}
.flex-container9>div{
    background-color: blueviolet;
    width: 100px;
    margin:10px;
    text-align:center;
    line-height:75px;
    font-size:30px;
}
.flex-container10{
    display:flex;
    flex-direction: row;
    height:300px;
    background-color:seagreen;
}
.flex-container10>div{
    background-color:seashell;
    width: 100px;
    margin:10px;
    text-align:center;
    line-height:75px;
    font-size:30px;
}
.flex-container11 {
    display: flex;
    flex-wrap: wrap;
    background-color: slateblue;
  }
  
.flex-container11>div{
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.flex-container12{
    display:flex;
    flex-wrap:wrap;
    background-color: black;
}
.flex-container12>div{
    width:100px;
    margin:10px;
    line-height: 75px;
    font-size: 30px;
    text-align: center;
}
.flex-container13{
    display:flex;
    flex-wrap:wrap-reverse;
    background-color: black;
}
.flex-container13>div{
    width:100px;
    margin:10px;
    line-height: 75px;
    font-size: 30px;
    text-align: center;
}
.flex-container14{
    display:flex;
    flex-wrap:row wrap;
    background-color: black;
}
.flex-container14>div{
    width:100px;
    margin:10px;
    line-height: 75px;
    font-size: 30px;
    text-align: center;
}
.flex-container15{
    display:flex;
    height:200px;
    align-items: stretch;
    background-color: bisque;
}
.flex-container15>div{
    background-color: steelblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.flex-container20{
    display:flex;
    height: 200px;
    flex-wrap:nowrap;
    background-color: black;
}
.flex-container20>div{
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.flex-container16 {
    display: flex;
    height: 200px;
    align-items: flex-start;
    background-color: aliceblue;
  }
  
  .flex-container16 > div {
    background-color:steelblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

.flex-container17{
    display:flex;
    height: 200px;
    align-items: flex-end;
    background-color: brown;
}
.flex-container17 > div {
    background-color:steelblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .flex-container18{
    display: flex;
    height: 200px;
    align-items: stretch;
    background-color: DodgerBlue;
  }
.flex-container18>div{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.flex-container19{
    display: flex;
    height: 200px;
    align-items: baseline;
    background-color: rgb(131, 255, 30);
  }
.flex-container19>div{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}